/* <header> */
:root {
	--pink: #ee0548;
	--black: #130f40;
  }
  
  * {
	font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	outline: none;
	border: none;
	transition: 0.2s linear;
	text-transform: capitalize;
  }
  
header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10000;
	background: var(--pink);
	padding: 2rem 9%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header .logo {
	font-size: 2.5rem;
	color: #fff;
	font-weight: bolder;
}

header .navbar a {
	color: #fff;
	font-size: 2rem;
	margin-left: 2rem;
}

header .navbar a:hover {
	color: var(--black);
}

#menu-bar {
	font-size: 3rem;
	color: #fff;
	border-radius: 0.5rem;
	border: 0.1rem solid #fff;
	padding: 0.5rem 1.5rem;
	cursor: pointer;
	display: none;
}

.home {
	min-height: 100vh;
	display: flex;
	align-items: center;
	background: url(images/img1.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.home .content span {
	font-size: 3rem;
	color: var(--pink);
}

.home .content h3 {
	font-size: 6rem;
	color: #130f40;
	width: 60rem;
}

@media (max-width: 1200px) {
	html {
		font-size: 55%;
	}
}

@media (max-width: 991px) {
	header {
		padding: 2rem 4%;
	}

	section {
		padding: 3rem 4%;
	}
}

@media (max-width: 768px) {
	#menu-bar {
		display: block;
	}

	header .navbar {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background: var(--black);
		padding: 1rem 0;
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	}

	header .navbar.nav-toggle {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	}

	header .navbar a {
		display: block;
		background: #fff;
		border-radius: 0.5rem;
		color: var(--black);
		margin: 1.5rem;
		padding: 1rem 2rem;
		font-size: 2.5rem;
	}

	.home {
		justify-content: center;
		background-position: left;
	}

	.home .content {
		text-align: center;
	}

	.home .content span {
		font-size: 2rem;
	}

	.home .content h3 {
		font-size: 4rem;
		width: auto;
	}

	.clients .row {
		flex-flow: column;
	}

	.clients .row .divider {
		display: none;
	}

	.clients .row .box-container:last-child .box {
		display: flex;
		flex-flow: column-reverse;
	}

	.contact form .inputBox input {
		width: 100%;
	}
}

@media (max-width: 450px) {
	html {
		font-size: 50%;
	}
}

.section {
	position: relative;
	height: 100vh;
}

.section .section-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#booking {
	font-family: 'Cabin', sans-serif;
	background-color: #f7f9fa;
}

.booking-form {
	position: relative;
	max-width: 642px;
	width: 100%;
	margin: auto;
	background: #fff;
	-webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.3);
}

.booking-form>.booking-bg {
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 250px;
	background-image: url('http://hdqwalls.com/wallpapers/amg-gtr-mercedes-benz-2018-ey.jpg');
	background-size: cover;
	background-position: center;
}

.booking-form>form {
	margin-left: 250px;
	padding: 30px;
	border: 1px solid #f9fafc;
	border-left: 0px;
}

.booking-form .form-header {
	margin-bottom: 30px;
}

.booking-form .form-header h2 {
	margin: 0;
	margin-bottom: 0px;
	font-weight: 700;
	color: #122244;
	font-size: 35px;
	text-transform: capitalize;
}

.booking-form .form-group {
	position: relative;
	margin-bottom: 20px;
}

.booking-form .form-control {
	background-color: #f7f9fa;
	height: 40px;
	padding: 0px 10px;
	border-radius: 0px;
	-webkit-transition: 0.2s;
	transition: 0.2s;
	color: #122244;
	border: 0px;
	font-size: 16px;
	font-weight: 700;
	-webkit-box-shadow: inset 0 1px 4px rgba(181, 193, 204, 0.3);
	box-shadow: inset 0 1px 4px rgba(181, 193, 204, 0.3);
}

.booking-form .form-control::-webkit-input-placeholder {
	color: #dde3e8;
}

.booking-form .form-control:-ms-input-placeholder {
	color: #dde3e8;
}

.booking-form .form-control::placeholder {
	color: #dde3e8;
}

.booking-form .form-control:focus {
	-webkit-box-shadow: inset 0 1px 4px rgba(181, 193, 204, 0.3);
	box-shadow: inset 0 1px 4px rgba(181, 193, 204, 0.3);
}

.booking-form input[type="date"].form-control:invalid {
	color: #dde3e8;
}

.booking-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.booking-form select.form-control+.select-arrow {
	position: absolute;
	right: 0px;
	bottom: 4px;
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
}

.booking-form select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	color: #dddee9;
	font-size: 14px;
}

.booking-form .form-label {
	color: #b5c1cc;
	font-weight: 700;
	-webkit-transition: 0.2s;
	transition: 0.2s;
	text-transform: uppercase;
	line-height: 24px;
	height: 24px;
	font-size: 14px;
	z-index: 1;
}

.booking-form .form-btn {
	margin-top: 10px;
}

.booking-form .submit-btn {
	color: #fff;
	background-color: #6499ff;
	font-weight: 700;
	padding: 13px 35px;
	font-size: 16px;
	border: none;
	width: 100%;
}

@media only screen and (max-width: 480px) {
	.booking-form>.booking-bg {
		display: none;
	}
	.booking-form>form {
		margin-left: 0px;
	}
}

.footer {
	background: #000;
	padding: 30px 0px;
	font-family: 'Play', sans-serif;
	text-align: center;
	font-size: 1.75rem;
  }
  
  .footer .row {
	width: 100%;
	margin: 1% 0%;
	padding: 0.6% 0%;
	color: gray;
	font-size: 0.8em;
  }
  
  .footer .row a {
	text-decoration: none;
	color: gray;
	transition: 0.5s;
  }
  
  .footer .row a:hover {
	color: #fff;
  }
  
  .footer .row ul {
	width: 100%;
  }
  
  .footer .row ul li {
	display: inline-block;
	margin: 0px 30px;
  }
  
  .footer .row a i {
	font-size: 2em;
	margin: 0% 1%;
  }
  
  @media (max-width:720px) {
	.footer {
	  text-align: left;
	  padding: 5%;
	}
  
	.footer .row ul li {
	  display: block;
	  margin: 10px 0px;
	  text-align: left;
	}
  
	.footer .row a i {
	  margin: 0% 3%;
	}
  }
  
  .bottom {
	/* position: absolute; */
	bottom: 0;
	left: 0;
	right: 0;
	padding: 1rem;
	/* background: purple; */
	color: gray;
	/* font-weight: 500; */
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.2rem;
	font-size: 1.5rem;
  }