@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap");



/* <!-- -----------------made from https://www.youtube.com/watch?v=UH9cgPVcjFA&list=PLPNLZmPSwSkfSihlpYvHtx8fooKovXTeD
but fixed it all----------------- --> */
:root {
--main-color: #6dbfe2
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  transition: 0.2s linear;
  text-transform: capitalize;
}



html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6.5rem;
  scroll-behavior: smooth;
}

body {
background: radial-gradient(50% 50% at 50% 50%, rgb(248.62500607967377, 231.0969114303589, 229.978129863739) 0%, rgb(238.28332901000977, 246.49999290704727, 245.51399141550064) 91.28422737121582%);;

}

section {
  padding: 3rem 9%;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  border: 0.2rem solid #130f40;
  color: #130f40;
  font-size: 1.7rem;
  padding: 0.8rem 3rem;
  cursor: pointer;
  background: none;
}

.btn:hover {
  background: #ee0548;
  border-color: #ee0548;
  color: #fff;
}

.heading {
  padding-bottom: 2rem;
  text-align: center;
}

.heading h1 {
  font-size: 4rem;
  color: #fff;
  padding-bottom: 1rem;
  text-transform: uppercase;
}

/* create header */
.li {
    font-family: Roboto;
    font-weight: 200;
}
header a{
  text-decoration: none;
}
.navbar a {
    text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  background: var(--pink);
  padding: 1rem 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F46E6E;
}

header .logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: 600;
}

header .navbar a {
  color: #fff;
  font-size: 2rem;
  margin-left: 2rem;
}

header .navbar a:hover {
  color: var(--black);
}
#menu-bar {
  font-size: 3rem;
  color: #fff;
  border-radius: 0.5rem;
  border: 0.1rem solid #fff;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  display: none;
}

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(images/img1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.home .content span {
  font-size: 3rem;
  color: #ee0548;
}

.home .content h3 {
  font-size: 6rem;
  color: black;
  width: 60rem;
}

/* create media */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  header {
    padding: 2rem 4%;
  }

  section {
    padding: 3rem 4%;
  }
}

@media (max-width: 768px) {
  #menu-bar {
    display: block;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #130f40;
    padding: 1rem 0;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.nav-toggle {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navbar a {
    display: block;
    background: #fff;
    border-radius: 0.5rem;
    color: #130f40;
    margin: 1.5rem;
    padding: 1rem 2rem;
    font-size: 2.5rem;
  }

  .home {
    justify-content: center;
    background-position: left;
  }

  .home .content {
    text-align: center;
  }

  .home .content span {
    font-size: 2rem;
  }

  .home .content h3 {
    font-size: 4rem;
    width: auto;
  }

  .clients .row {
    flex-flow: column;
  }

  .clients .row .divider {
    display: none;
  }

  .clients .row .box-container:last-child .box {
    display: flex;
    flex-flow: column-reverse;
  }

  .contact form .inputBox input {
    width: 100%;
  }
}

/* <!-- -----------------made from https://www.youtube.com/watch?v=UH9cgPVcjFA&list=PLPNLZmPSwSkfSihlpYvHtx8fooKovXTeD
but fixed it all----------------- --> */
.btn {
  pointer-events: auto;
  display: inline;
  border-radius: 4px;
  background-color: var(--main-color);
  cursor: pointer;
}

.btn * {
  pointer-events: none;
}

.great-place {
  padding: 100px 0px;
}

.great-place-content {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px 0;
}

.container-x {
  max-width: 1024px;
  margin: 100px 250px;
}
.text-top-hotel {
  font-size: 32px;
  position: absolute;
  right: 670px;
  top: 790px;
  color: #C0A339;
  font-weight: 600;
}

.text-recommendation {
  font-size: 64px;
  position: absolute;
  right: 470px;
  top: 820px;
  font-weight: 600;
  color: #2C3448;
}

.great-place-text .money {
  color: #7DABA8;
  font-weight: 800;
}
.container-x .member-img {
  width: 400px;
  height: 300px;
  /* margin-top: 30px; */
  border-radius: 2px;
  object-fit: cover;
  transform: scale(2);
}

.great-place-img img {
  transition: all 2s ease;
}

.great-place-img img:hover {
  transform: scale(1);
}

.great-place-item {
  width: 30%;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.great-place-item:hover .great-place-text {
  transform: translateX(0%);
}

.great-place-text h2 {
  --line-clamp: 1;
}

.great-place-item img {
  position: absolute;
}

.great-place-text {
  pointer-events: none;
  position: absolute;
  width: 100%;
  /* height: 100px; */
  bottom: 0;
  padding: 12px;
  background: linear-gradient(to right, black, rgba(255, 255, 255, 0));
  transform: translateX(-100%);
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}

.great-place-text h2 {
  color: var(--main-color);
  margin: 0;
}

.great-place-text i {
  color: yellow;
}

.great-place-text p {
  --line-clamp: 1;
  color: white;
  margin: 0;
}

.great-place-text button {
  background-color: var(--main-color);
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.great-place-text button:hover {
  background-color: tomato;
}

.great-place h1 {
  text-align: center;
  margin-bottom: 50px;
  color: var(--main-color);
  position: relative;
}

.great-place h1::before {
  position: absolute;
  content: "";
  height: 5px;
  width: 150px;
  background-color: var(--main-color);
  border-radius: 5px;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%);
}

.great-place h1::after {
  position: absolute;
  content: "\2665";
  width: 40px;
  height: 10px;
  color: red;
  background-color: #fff;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}
/* ===================== Find your suited==================== */
.text-FIND{
  font-size: 60px;
  text-align: center;
  font-weight: 700;
  margin-top: -100px;
}
.wrapper-find {
  padding: 35px;
  display: flex;
  font-size: 32px;
  justify-content: space-around;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  margin-bottom: 100px;
}

.Price-range,
.Location,
.Room-style {
  padding: 10px 35px;
  background-color: white;
  border: 3px solid;
  border-radius: 10px;

}

.Find {
  padding: 10px 130px;
  background-color: #2C3448;
  color: white;
  font-weight: 900;
  border: 3px solid;
  border-radius: 10px;

}

/* Footer */
.footer {
  background: #2C3448;
  padding: 30px 0px;
  font-family: 'Play', sans-serif;
  text-align: center;
  font-size: 1.75rem;
}

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: white;
  font-size: 0.8em;
}

.footer .row a {
  text-decoration: none;
  color: white;
  transition: 0.5s;
}


.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}



@media (max-width:720px) {
  .footer {
    text-align: left;
    padding: 5%;
  }

  .footer .row ul li {
    display: block;
    margin: 10px 0px;
    text-align: left;
  }

  .footer .row a i {
    margin: 0% 3%;
  }
}

.bottom {
  /* position: absolute; */
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  /* background: purple; */
  color: gray;
  /* font-weight: 500; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  font-size: 1.5rem;
}