@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
}

.li {
    font-family: Roboto;
    font-weight: 200;
}

a {
    text-decoration: none;
}

body,
html {
    margin: 0;
    padding: 0;
    background: radial-gradient(50% 50% at 50% 50%, rgb(248.62500607967377, 231.0969114303589, 229.978129863739) 0%, rgb(238.28332901000977, 246.49999290704727, 245.51399141550064) 91.28422737121582%);
    ;
}

/*------------------------Scroll Bar-----------------------*/
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #fde65e;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #fde02f;
}

/*========================Nav Bar=========================*/

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    background: var(--pink);
    padding: 0rem 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F46E6E;
}

header .logo {
    font-size: 2.5rem;
    color: #fff;
    font-weight: 600;
}

header .navbar a {
    color: #fff;
    font-size: 1.3rem;
    margin-left: 2rem;
}

header .navbar a:hover {
    color: var(--black);
}

/*=============================Banner=============================*/
.banner {
    background-image: url("img/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /*overflow: hidden;*/
    width: 100%;
    height: 100vh;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    /*background-size: 100%;*/
}

.banner-text-item {
    position: absolute;
    width: 100%;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.banner-heading {
    flex: 1;
}

.banner-heading h1 {
    font-size: 100px;
    font-weight: normal;
    color: white;

}

.banner-text-item .form {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    width: 70%;
    padding: 1% 2%;
}

.banner-text-item input,
.banner-text-item .date,
.banner-text-item .book {
    padding: 15px;
    margin-right: 10px;
    font-size: 18px;
    font-family: Roboto;
    border-radius: 5px;
    outline: 0;
    border: none;
}

.banner-text-item input {
    width: 50%;
    flex: 2;
}

.banner-text-item .date {
    width: 20%;
    flex: 1;
}

.banner-text-item .book {
    width: 20%;
    flex: 1;
}

.banner-text-item .book {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    padding: 15px;
    cursor: pointer;
    background-color: #FFE382;
    font-size: 16px;
    font-weight: normal;
    font-family: "Barlow Condensed";
    width: 20%;
}

/*===========================Services===========================*/
.services {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.text-trustmebro {
    padding-top: 4rem;
    text-align: center;
    font-size: 2rem;
    color: #C0A339;
    font-weight: 600;
}

.text-tourists {
    padding-top: 1rem;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    color: #2C3448;
}

.service-item {
    width: 1rem;
    background-color: white;
    flex-grow: 1;
    border: lightcyan solid 1px;
    text-align: center;
    transition: all 1s;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 3rem;
    border-radius: 1rem;
    margin: 0 1rem;
    padding: 4rem;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);

}

.service-item:hover {
    box-shadow: 3px 3px 20px lightsteelblue;
}

.service-item h2 {
    font-family: Barlow Condensed;
    font-size: 18px;
    width: 120px;
    color: #001f38;
    flex: 1;
}

.service-item img {
    width: 60px;
    height: 60px;
}

@media screen and (min-width: 1500px) and (max-width: 2000px) {
    .text-tourists p {
      
    }

    .text-meetour p {
        text-align: center;
        font-size: 2rem;
        color: #C0A339;
        font-weight: 600;
        padding-top: 3rem;
    }
    .text-choice {
        font-size: 5rem;
        text-align: center;
        font-weight: 600;
        color: #2C3448;
        padding-top: 2rem;
    }

    
}

/*=========================About Us=========================*/
.about {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: 0px 130px;
}

.text-aboutus {
    margin: -23px;
    font-size: 24px;

}

.about-img {
    flex: 1;
}

.about-img img {
    width: 500px;
    height: 700px;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
}

.about-text {
    flex: 1;
    /*width: 100px;*/
    display: flex;
    flex-flow: column wrap;
}

.about-text small,
.about-text p,
.about-text a {
    flex: 1;
    font-family: Roboto;
}

.about-text small {
    color: #C0A339;
    font-size: 32px;
    font-weight: 700;
}

.about-text h2 {
    flex: 1;
    font-family: Barlow Condensed;
    font-size: 60px;
    color: #2C3448;
    width: 550px;
}

.about-text p {
    width: 600px;
    line-height: 30px;
    font-weight: bolder;
    padding: 50px 0;
    font-size: 24px;
}

.about-text a {
    background-color: #fff;
    border: 3px solid #3C4866;
    text-decoration: none;
    border-radius: 10px;
    width: 250px;
    padding: 14px;
    text-align: center;
    margin-top: 44px;
    color: #2C3448;
    font-weight: bolder;
    font-size: 24px;
}

.about-text a:hover {
    background-color: #014b85;
    color: #fff;
}

/* ============ TOUR GUIDES================= */


.text-meetour {
    padding-top: 3rem;
    text-align: center;
    font-size: 32px;
    color: #C0A339;
    font-weight: 600;
}

.text-choice {
    font-size: 4rem;
    text-align: center;
    font-weight: 600;
    color: #2C3448;
    padding-top: 2rem;
}

.team .box-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.team .box-container .box {
    margin: 1rem;
    border-radius: 0.5rem;
    text-align: center;
    background-size: cover;

}

.team .box-container .box img {
    border-radius: 50%;
    object-fit: cover;
    height: 15rem;
    width: 15rem;
    padding: 1rem;
}

.team .box-container .box h3 {
    font-size: 2.5rem;
    color: var(--black);
}

.team .box-container .box span {
    font-size: 2rem;
    color: var(--pink);
}

.team .box-container .box p {
    font-size: 24px;
    color: #333;
    padding: 1rem 0;
    width: 316px;
}

.team .box-container .box .share {
    padding: 1rem 0;
}

.team .box-container .box .share a {
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    font-size: 2rem;
    color: var(--black);
    background: #eee;
}

.team .box-container .box .share a:hover {
    color: #fff;
    background: var(--pink);
}

/*==========================Responsive=============================*/
@media all and (max-width: 1172px) {
    .banner-text-item .form {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: 50%;
    }

    .banner-text-item .form input,
    .banner-text-item .form .date,
    .banner-text-item .form a {
        flex: 1;
        margin-bottom: 5px;
        font-size: 14px;
    }

    .banner-text-item .form input {
        width: 60%;
    }

    .banner-text-item .form .date {
        width: 30%;
    }

    .banner-text-item .form .book {
        width: 10%;
        font-size: 14px;
    }

    .banner-heading h1 {
        font-size: 60px;
    }
}

@media all and (max-width: 1414px) {
    .banner-text-item .form input {
        width: 40%;
    }

    .banner-text-item .form .date {
        width: 30%;
    }

    .banner-text-item .form .book {
        width: 20%;
        font-size: 14px;
    }
}

@media all and (max-width: 942px) {
    .nav-bar {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        text-align: center;
        position: static;
    }

    .logo {
        flex: 1;
        font-size: 30px;
        margin: 10px auto;
        font-family: Satisfy;
        color: #fde02f;
    }

    .nav-bar ul {
        display: none;
    }

    .nav-bar ul li {
        flex: 1;
        margin-bottom: 5px;
        font-size: 14px;
    }

    .services {
        display: flex;
        flex-flow: column wrap;
    }

   

    .places-text {
        margin-top: 200px;
    }
}

@media all and (max-width: 928px) {

    .banner .form input,
    a {
        font-size: 12px;
    }
}

@media all and (max-width: 1173px) {
    .banner .form {
        background-color: transparent;
    }
}

@media all and (max-width: 1194px) {
    .places .card-box p {
        font-size: 14px;
    }
}



@media all and (max-width: 1334px) {
    .about-img img {
        width: 300px;
        height: 500px;
    }
}

@media all and (max-width: 1116px) {
    .about {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    .about-img {
        flex: 1;
        margin-bottom: 20px;
    }

    .about-text {
        flex: 1;
        margin: auto;
        text-align: center;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    .about-text h2 {
        font-size: 35px;
    }

    .about-img img {
        width: 400px;
        height: 400px;
    }
}

/* Footer */


.footer {
    background: #2C3448;
    padding: 30px 0px;
    font-family: 'Play', sans-serif;
    text-align: center;
    font-size: 1.75rem;
}

.footer .row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: white;
    font-size: 0.8em;
}

.footer .row a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}


.footer .row ul {
    width: 100%;
}

.footer .row ul li {
    display: inline-block;
    margin: 0px 30px;
}

.footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
}

@media (max-width:720px) {
    .footer {
        text-align: left;
        padding: 5%;
    }

    .footer .row ul li {
        display: block;
        margin: 10px 0px;
        text-align: left;
    }

    .footer .row a i {
        margin: 0% 3%;
    }
}


#menu-bar {
    font-size: 3rem;
    color: #fff;
    border-radius: 0.5rem;
    border: 0.1rem solid #fff;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    display: none;
}

:root {
    --pink: #ee0548;
    --black: #130f40;
}

/* media queries  */

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    header {
        padding: 2rem 4%;
    }

    section {
        padding: 3rem 4%;
    }
}

@media (max-width: 768px) {
    #menu-bar {
        display: block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: var(--black);
        padding: 1rem 0;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.nav-toggle {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a {
        display: block;
        background: #fff;
        border-radius: 0.5rem;
        color: var(--black);
        margin: 1.5rem;
        padding: 1rem 2rem;
        font-size: 2.5rem;
    }

    .home {
        justify-content: center;
        background-position: left;
    }

    .home .content {
        text-align: center;
    }

    .home .content span {
        font-size: 2rem;
    }

    .home .content h3 {
        font-size: 4rem;
        width: auto;
    }

    .clients .row {
        flex-flow: column;
    }

    .clients .row .divider {
        display: none;
    }

    .clients .row .box-container:last-child .box {
        display: flex;
        flex-flow: column-reverse;
    }

    .contact form .inputBox input {
        width: 100%;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}